<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RepositoryData.Properties.Settings.BD_DATABASE_TESTSConnectionString"
            connectionString="Data Source=S1445;Initial Catalog=BD_DATABASE_TESTS;Persist Security Info=True;User ID=SA"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>