<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TransparenciaDAO.Properties.Settings.bd_Defensoria_TransparenciaConnectionString"
            connectionString="Data Source=S744;Initial Catalog=bd_Defensoria_Transparencia;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="TransparenciaDAO.Properties.Settings.bd_Defensoria_TransparenciaConnectionString1"
            connectionString="Data Source=s744;Initial Catalog=bd_Defensoria_Transparencia;Persist Security Info=True;User ID=sa;Password=vm2Q8z8x"
            providerName="System.Data.SqlClient" />
        <add name="TransparenciaDAO.Properties.Settings.bd_Defensoria_TransparenciaConnectionString2"
            connectionString="Data Source=s744;Initial Catalog=bd_Defensoria_Transparencia;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>