<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FolhaDao.Properties.Settings.BD_DEFENSORIA_GESTAOPESSOALConnectionString"
            connectionString="Data Source=s1445;Initial Catalog=BD_DEFENSORIA_GESTAOPESSOAL;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>